<!--views/articles/new.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Daily Planet - <%= article.title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    body {
      background-color: black;
      color: #9F9FA3;
    }
    p{
        font-weight: bold;
        text-align: left;
    }

    .image {
      position: relative;
      margin-top: 80px;
      width: 70%;
      float:left;
    }

    .content {
      position: relative;
      margin-top: 80px;
      width: 30%;
      float:right;
    }

    .header {
      font-size: 24px;
    }

    .article {
      font-size: 20px;
    }
</style>
</head>
<body>
  <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Daily Planet</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="../">Home</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="../contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div id="newsfeed">
     <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="<%= article.imgurl %>" class="col-sm-12 col-md-12 col-lg-12 image" />    
         <p class="content">
            <a href="/news/<%= article.id %>" class="header"><%= article.title %></a>
            <br/>
            <%= article.content %>
        </p>
        </div>
    </div>
  </div>
</div>
</body>
</html>